<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.test.mapper.AntArea">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.demo.test.entity.AntArea">
          <id column="id" property="id" />
          <result column="identification" property="identification" />
          <result column="short_name" property="shortName" />
          <result column="area_code" property="areaCode" />
          <result column="short_pinyin" property="shortPinyin" />
          <result column="full_pinyin" property="fullPinyin" />
          <result column="full_name" property="fullName" />
          <result column="parent_code" property="parentCode" />
          <result column="initials" property="initials" />
          <result column="area_type" property="areaType" />
          <result column="create_by" property="createBy" />
          <result column="create_time" property="createTime" />
          <result column="update_by" property="updateBy" />
          <result column="update_time" property="updateTime" />
    </resultMap>
    <sql id="BaseColumn">
      id, identification, short_name, area_code, short_pinyin, full_pinyin, full_name, parent_code, initials, area_type, create_by, create_time, update_by, update_time
    </sql>
</mapper>