<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.test.mapper.AntMerchant">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.demo.test.entity.AntMerchant">
          <id column="id" property="id" />
          <result column="shop_name" property="shopName" />
          <result column="shop_type" property="shopType" />
          <result column="province_id" property="provinceId" />
          <result column="province_name" property="provinceName" />
          <result column="city_id" property="cityId" />
          <result column="city_name" property="cityName" />
          <result column="county_id" property="countyId" />
          <result column="county_name" property="countyName" />
          <result column="address" property="address" />
          <result column="category1_id" property="category1Id" />
          <result column="category1_name" property="category1Name" />
          <result column="category2_id" property="category2Id" />
          <result column="category2_name" property="category2Name" />
          <result column="category3_id" property="category3Id" />
          <result column="category3_name" property="category3Name" />
          <result column="phone" property="phone" />
          <result column="memo" property="memo" />
          <result column="legal_name" property="legalName" />
          <result column="legal_cert_no" property="legalCertNo" />
          <result column="cert_no" property="certNo" />
          <result column="industry_qualification_type" property="industryQualificationType" />
          <result column="industry_qualification_image" property="industryQualificationImage" />
          <result column="cert_type" property="certType" />
          <result column="cert_name" property="certName" />
          <result column="cert_image" property="certImage" />
          <result column="license_auth_letter_image" property="licenseAuthLetterImage" />
          <result column="out_door_images" property="outDoorImages" />
          <result column="create_by" property="createBy" />
          <result column="create_time" property="createTime" />
          <result column="update_by" property="updateBy" />
          <result column="update_time" property="updateTime" />
          <result column="order_id" property="orderId" />
          <result column="shop_status" property="shopStatus" />
    </resultMap>
    <sql id="BaseColumn">
      id, shop_name, shop_type, province_id, province_name, city_id, city_name, county_id, county_name, address, category1_id, category1_name, category2_id, category2_name, category3_id, category3_name, phone, memo, legal_name, legal_cert_no, cert_no, industry_qualification_type, industry_qualification_image, cert_type, cert_name, cert_image, license_auth_letter_image, out_door_images, create_by, create_time, update_by, update_time, order_id, shop_status
    </sql>
</mapper>