<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.test.mapper.Book">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.demo.test.entity.Book">
          <id column="id" property="id" />
          <result column="name" property="name" />
          <result column="path" property="path" />
          <result column="img" property="img" />
          <result column="type" property="type" />
          <result column="size" property="size" />
    </resultMap>
    <sql id="BaseColumn">
      id, name, path, img, type, size
    </sql>
</mapper>