<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.test.mapper.Link">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.demo.test.entity.Link">
          <id column="id" property="id" />
          <result column="title" property="title" />
          <result column="desc" property="desc" />
          <result column="source" property="source" />
          <result column="create_time" property="createTime" />
          <result column="update_time" property="updateTime" />
          <result column="link" property="link" />
    </resultMap>
    <sql id="BaseColumn">
      id, title, desc, source, create_time, update_time, link
    </sql>
</mapper>