<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.test.mapper.User">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.demo.test.entity.User">
          <id column="id" property="id" />
          <result column="created_date" property="createdDate" />
          <result column="last_update_date" property="lastUpdateDate" />
          <result column="address" property="address" />
          <result column="email" property="email" />
          <result column="mobile" property="mobile" />
          <result column="name" property="name" />
    </resultMap>
    <sql id="BaseColumn">
      id, created_date, last_update_date, address, email, mobile, name
    </sql>
</mapper>